body{background-color: darkgrey;
text-align: center 

}

canvas{position: absolute;
left: 20px;
top: 60px;}


#myCanvas {
 
    margin-top: 40px;
    margin-left:25%;
    background-color: white;
}

#gameStatus {
    font-size: 30px;


}