body{background-color: darkgrey;
text-align: center ;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(36, 34, 34);
font-size: 40px;

}

canvas{position: absolute;
left: 20px;
top: 60px;}


#myCanvas {
 
    margin-top: 40px;
    margin-left:25%;
    background-color: white;
}

#gameStatus {
    font-size: 30px;


}